* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://cdn.player.one/sites/player.one/files/2020/08/19/warzone.jpg");
  background-color: #111;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: black;
  margin: 0 0 5px;
}

.page-subtitle {
  color: black;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

table {
  color: black;
  border: 2px solid white;
  border-collapse: collapse;
}

h1 {
  color: black;
}

img {
  padding: 30px;
  height: 100px;
  width: 250px;
}
th,
tr,
td {
  border: solid 1px white;
  color: black;
}
