@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gochi Hand";
  background-color: #082b59;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

header {
    max-width: 1280px;
  position: relative;
  justify-content: center;
  display: flex;
height: 60px;
  outline: 1px solid red;
}

main {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  outline: 1px solid red;
}

/* .container {
  display: grid;
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
} */

.cabecalho {
  max-width: 100%;
}

.alura-logo {
  position: absolute;
  z-index: 2;
  left: 900px;
  width: 95px;
  height: 45px;
}

.page-logo {
    position: absolute;
    z-index: 1;
    left: 500px;
    max-width: 300px;
}

.fundoFolha {
  max-width: 400px;
}

.titulo {
  color: #161616;
  text-align: center;
  font-size: 50px;
  margin: 10px 0px 10px 0px;
  padding: 5px;
}

.subtitulo {
  color: #313131;
  text-align: center;
  font-size: 30px;
  margin: 10px 0px 10px 0px;
  padding: 5px;
}