body {
    background-color: #082B59;
    font-family: 'Gochi Hand';
    border: 1px solid red;
  }

header {
    align-items: center;
    border: 1px solid red;
}
  
h1 {
    color:#ffffff;
    text-align: center;
    font-size: 50px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    z-index: 1;
}

p {
    color:#ffffff;
    text-align: center;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    z-index: 2;
}

main {
    display: flex;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    border: 1px solid red;
}

.fundoFolha {
    position: absolute;
    max-width: 500px;
    right: 360px;
    margin: 5px 0px 5px 0px;
    z-index: 3;
}
 
.page-logo {
    position: relative;
    width: 250px;
    top: auto;
    left: 620px;
    margin: 0 auto;
}
  
.alura-logo {
    width: 80px;
    position: absolute;
    top: 15px;
    right: 15px;
}


