body {
    background-color: #082B59;
  }
  
h1 {
    color:#ffffff;
    text-align: center;
    font-size: 50px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border: 1px solid red;
}

p {
    color:#ffffff;
    text-align: center;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border: 1px solid red;
    
}
  
.container {
    display: grid;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.item {
    position: relative;
    width: 500px;
    top: 10px;
    left: 40px;
    margin: 10px 0px 10px 0px;
    border: 1px solid red;
}
 
.page-logo {
    position: relative;
    width: 250px;
    top: auto;
    margin: 0 auto;
    border: 1px solid red;
}
  
.alura-logo {
    width: 60px;
    position: absolute;
    top: 15px;
    right: 15px;
}
